.company-1{

    margin-left: 80px;

}
.Section13{
    background-color: black;
    color: white;
    padding: 80px;
    
    
}
.ICONS{
    margin-top: 10px;
  padding-right: 20px;
    font-size: 50px;
    border-radius: 10px;
    border-color: rebeccapurple;
    border-radius:#fcbd1c
}
:hover.ICONS{
    color: #fcbd1c;
    cursor: pointer;
}
/* .Border{

    font-size: 60px;
    width: 170px;
    height: 30px;
    background-color:gainsboro;
   
} */
.Border1{
    
    font-size: 60px;
    width: 170px;
    height: 30px;
    background-color:gray;
}
.Border2{

    font-size: 20px;
    color:white;
    float: right;
    margin-right: 80px;
    margin-top:05px;
  
    position: relative;
}
.underline{
    color: black;
}
.Bankicon{
    font-size: 25px;
    color: #fcbd1c;
}
.line2 {
   border-bottom: 1px solid ;
   color: rgb(204, 204, 204);
   width: 100%;

}
.p-cont{
    float: right;
}
@media only  screen and (max-width: 425px) and (min-width: 375px) , (max-width: 760px)  {
    .p-cont{
        float: none;
    }
    /* .line2{
        width: 120%;
    } */
}