  *{
    margin: 0px;
    padding: 0px;
    top: 0;
  }
   .Backgroundimg1{
    background-image: url(../Section1/furniture-store-hero-bg.jpg);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    /* z-index:-1; */
    /* opacity: 0.57; */
    background-color: white !important;
    transition: background .3s,border-radius .3s,opacity .3s;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.484), hwb(0 0% 100% / 0.358)), url(../Section1/furniture-store-hero-bg.jpg);
    background-size:cover;

  }
  .col2{
    font-size: 50px;
  
    font-weight: bold;
   
  }
  /*CONTENT STyLE*/ 
  .Content{
   
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    color:white;
    text-align: justify;
    margin-top: 210px;
  }
  .Paragraph{
    font-size: 19px;
    margin-top: 40px;
  }
  
  /*ICON STyLE*/ 
  
  .Icons{
    width: 100%;
    margin-top: 160px;
    color: white;
    font-size: 15px;
 
    padding-bottom: 20px;
  }
  .Icon{
    color: white;
  float: right;
  margin-bottom: 30px;
  justify-content: space-between;
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
  }
  :hover.Icon{
    color: #EDB932;
  }
  
  /*BUTTON STULE*/ 
  
  .Shop{
    background-color: #EDB932;
    color: black;
    border-color: #EDB932;
    padding: 5px;
    width: 25%;
    font-size: 15px;
    height: 40px;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border-radius: 0;margin-top: 10px;
  }
 
  button{
    background-color: #EDB932;
  }
  /*KAYU STULE*/ 
  
  .horizontal-line {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  .line {
     border-bottom: 1px solid ; /* Change color if needed */
    margin: 0 5px;
    width: 8%;
   }
  .Right-text{
    margin-left: 8px;
    font-size: 20px;color: #EDB932;
    font-weight: normal;
  }
  .Kayu{
  color: #EDB932;
  font-family: 'Roboto',sans-serif;
  font-size: small;
  padding-bottom: 30px;
  font-size: 20px;
  }
  /* .Customize{
    background-color:lightpink;
    border-color: white;
    cursor: pointer;
    font-size: 20px;
    width: 14%;
    padding: 10px;
    position: fixed;
    margin-left: 1190px;
    margin-top: 250px;
    z-index: 101;
  } */
  .Shop{
    background-color: #EDB932;
    border-color: #EDB932;
    color: black;
  }
  :hover.Shop{
    background-color: white;
    color: black;
  }
.Palette{
color: blue;
font-size: 20px;
margin-right: 10px;
margin-left: -20px;
}
  
.Customize{

  border-color: white;
  cursor: pointer;
  font-size: 20px;
  width: 24%;
  margin-left: 950px;
right: 0;
 float: right;

  z-index: 101;
}
  
@media only  screen and (max-width: 425px) and (min-width: 375px) , (max-width: 770px)  {
    .horizontal-line{
      padding-top: 80px;
      margin-left: 20px;
    }
    .Right-text{
      font-size: 15px;
    }
 
    .col2{
    font-size: 32px;
    margin: 20px;
    }
    .Paragraph{
      margin: 20px;
      font-size: 15px;
    }.Shop{
      width: 35%;
      margin: 20px;
    }
    .Icons{
     margin: 20px;
    width: 90%;
     
    }
    .Icon{
   font-size: 15px;
   margin-left: 20px;
    }
  }
