.Section2-content{
    margin: 10px;
    font-size: 35px;
}
.Section2-content-parah{
    font-size: 17px;
    color: gray;
line-height: 25px;
margin: 10px;
margin-bottom: 20px;
}
.AboutSection2-img{
    width: 90%;
    margin: 10px;
}
.IconsAbout{
    font-size: 25px;
  color: rgb(235, 168, 0);
  font-weight: bold;
  margin: 10px;
}
.AboutIconTitle{
 font-weight: bold;
 margin-top: -45px;
 padding-top: 10px;
 margin-left: 50px;
}
.Icon-Phara{
    color: gray;
    padding: 0px;
   
    margin-left: 50px;

}
.AboutSection2{
    margin: 50px;
}