.Section2{
  width: 100%;
  padding-top: 40px;
  padding-left: -20px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.horizontal-line1 {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.line1 {
   border-bottom: 1px solid ; /* Change color if needed */
  margin: 0 5px;
  color: #EDB932;
  width: 22%;
 }
.Right-text1{
  margin-left: 8px;
  color: #EDB932;
}
button{
  background-color: #EDB932;
  border: #EDB932;

}
.Section2-button{
  background-color: #EDB932;
  border: #EDB932;
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 14px;
  padding-left: 34px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
}
.Section2-content{
  margin-top: 30px;
  font-style: inherit;
  font-size:40px;
  font-weight: bold;
}
.Section2-content-parah{
  font-size: 19px;
  font-style: inherit;
  font-weight: inherit;
}