.Section12-img{
    width: 100%;  
}
.parah{
    color: gray;
    padding-top: 15px;
}
.text{
    margin:0px;
}
.Email{
    border-color: black;
    width: 59%;
    border-radius: 0%;
}
.Submit{
    background-color: #fcbd1c;
    border-radius: 0%;
    border-color: #fcbd1c;
    float: right;
    padding-top: px;
    color: black;
    margin-right: 55px;
    padding-left: 25px;
    padding-right: 25px;
}
.Submit:hover{
    color: white;
    background-color: #fcbd1c;
    border-radius: 0%;
    border-color: #fcbd1c;
}

@media only  screen and (max-width: 425px) and (min-width: 375px) , (max-width: 760px)  {

.Section12{
width: 100%;
margin: 10px;
}
.horizontal-line1{
margin-top: 20px;
margin: 10px;
}
.Section2-content{
font-size: 22px;
margin: 10px;
}
.Submit{
float: left;
margin-left: 170px;
padding-bottom: 20px;
padding: 7px;
margin-bottom: -40px;
width: 50%;
}
.mb-3{
    width: 70%;
    float: left;
    margin-bottom: -30px;
    
}
.Section12-img{
    width: 90%;
    margin:0px;
    margin-top: 40px;
}

}