.content{
    margin-top: 80px;
}
h3{
    color: var(--e-global-color-astglobalcolor2);
    font-family: poppins,Sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
    margin-top: 20px;

}
.icon{
    font-size: 25px;
}
@media only  screen and (max-width: 425px) and (min-width: 375px) , (max-width: 770px)  {
    .content{
        width: 100%;
        margin-top: 0;
        padding: 20px;
    }
    .Section9{
        margin-top: 30px;
        margin: 20px;
    }
    h3{
        font-size: 18px;
    }
}