.Icons11
{
   font-size:80px;
    margin-top: 0px;
    color:gray;
}
.IconTitle{
    font-weight: bold;
    padding-top: 20px;
}
.Section11{
    padding-bottom: 90px;
}
@media only  screen and (max-width: 425px) and (min-width: 375px) , (max-width: 770px)  {
.Section11{
    padding: 20px;
}
}